%div#content
  = error_messages_for :photo
  - form_for([:admin, @photo], :html => { :multipart => true }) do |f|
    %table
      %tr
        %td= f.label :title
        %td= f.text_field :caption
      %tr
        %td= f.label :description
        %td= f.text_field :description
      %td= f.submit "Update"
        
  %span.hint 
    %p We accept JPEG, GIF, or PNG files up to 500 KB. 

  = link_to 'Back', admin_photos_path