<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<title><%= @title %> | papienterprises.com - Worldwide, Local Too! &trade;</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="<%= @description %>" />
<meta name="keywords" content="<%= @keywords %>" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="index,follow" />
<meta name="verify-v1" content="QroS6QWQ8FgxHrGMdNK+Zuykn+N9dSlmZcmeel9r6Dg=" />
<%= javascript_include_tag :all %>
<%= stylesheet_link_tag "screen" %>
<%= stylesheet_link_tag "navigation" %>
<%= stylesheet_link_tag "lightbox" %>

<!--[if IE 6]>
<style>
div#left{margin-left:17px;}
</style>
	
<![endif]-->
</head>

<body>
	
	<div id="wrapper">
		<div id="header">
			<%= image_tag("papilogo.png", {:alt => 'denver limo, denver limousine'}) %>
		</div>
		
		<div id="nav-wrapper">
			<div id="nav">
				<ul id="MenuBar1" class="MenuBarHorizontal">
					<li><a href="/" style="width:50px">Home</a></li>
					<li><a href="/limo-services" >Limo Services</a></li>
					<li><a href="#">Papi's Fleet</a></li>
					<li><a href="#" style="width:60px">About Us</a></li>
					<li><a href="#">Testimonials</a></li>
					<li><a href="/contact">Contact Us</a></li>
					<li><a href="/photos" style="margin:0px">Photo Gallery</a></li>
				</ul>
			</div>
			
			<div id="number">
				CALL: 720-232-4637
			</div>
		</div>
	
	<div id="content-wrapper">
		<%= @content_for_layout %>
	</div>

	<div id="links-wrapper">
		<div id="links">
			<div class="link">
				<ul>
					<li><a href="/">Denver Limo</a></li>
					<li>Denver Airport Limousine</li>
					<li>Denver Wedding Limousine</li>
				</ul>
			</div>
			
			<div class="link">
				<ul>
					<li>Denver Prom Limousine</li>
					<li>Denver Party Limousine</li>
					<li>Denver Limo Blog</li>
				</ul>
			</div>
			
			<div class="link">
				<ul>
					<li>Contact Papi Enterprises</li>
					<li>FAQ's</li>
					<li>Limo Testimonials</li>
				</ul>
			</div>
		</div>
</div>

<div id="footer"></div>

<br style="clear:both;">

        <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4429236-11");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
	
	
		